Repository teemtee/fmf, pull requests merged in 2020-11, with the labels that each got.

#84 Add a new Tree.adjust() method for handling rules
  fmf/base.py
  tests/unit/test_adjust.py
Labels: enhancement

#86 Context documentation
  docs/context.rst
  docs/features.rst
Labels: context, docs

#87 Enable copr builds from master, simplify config
  .packit.yaml
  Makefile
Labels: packaging

#92 Update the adjust continue key default to True
  docs/examples.rst
  docs/features.rst
  fmf/base.py
  tests/unit/test_adjust.py
Labels: context, docs

#91 Adjust 'make test' to work under virtualenv
  Makefile
  tests/unit/pytest.ini
Labels: tests
