Repository teemtee/fmf, pull requests merged in 2021-04, with the labels that each got.

#123 Fix warnings in pytest
  fmf.spec
  tests/unit/test_base.py
  tests/unit/test_utils.py
Labels: tests

#129 Define dict method to get child or data item
  fmf/base.py
  tests/unit/test_items.py
Labels: base

#132 Enable copr builds from master for epel-7 as well
  .packit.yaml
Labels: packaging

#128 Change outcome of CannotDecide operations
  docs/context.rst
  fmf/context.py
  tests/unit/test_context.py
Labels: context

#133 Add support for empty files and virtual nodes
  examples/empty/main.fmf
  fmf/base.py
  tests/core/empty/data/.fmf/version
  tests/core/empty/data/empty.fmf
  tests/core/empty/data/one/main.fmf
  tests/core/empty/data/other/ignored
  tests/core/empty/data/two/empty.fmf
  tests/core/empty/data/virtual/main.fmf
  tests/core/empty/data/virtual/name.fmf
  tests/core/empty/main.fmf
  tests/core/empty/test.sh
  tests/unit/test_base.py
Labels: base

#134 Release fmf-0.16.0
  fmf.spec
Labels: packaging

#127 Disable integration testing with tmt for centos-7
  plans/integration.fmf
Labels: tests
