Repository teemtee/fmf, pull requests merged in 2022-06, with the labels that each got.

#165 Workaround s390x ruamel read issue
  fmf/base.py
Labels: base

#167 Explicitly convert context value to string
  docs/context.rst
  fmf/context.py
  tests/unit/test_context.py
Labels: context

#158 Add support for prepending items during merging
  docs/features.rst
  examples/merge/parent.fmf
  fmf/base.py
  tests/unit/test_base.py
Labels: base

#170 Implement a directive for disabling inheritance
  docs/features.rst
  fmf/base.py
  tests/core/inherit/data/.fmf/version
  tests/core/inherit/data/ci.fmf
  tests/core/inherit/data/full/main.fmf
  tests/core/inherit/data/main.fmf
  tests/core/inherit/data/mini/main.fmf
  tests/core/inherit/data/plans/features.fmf
  tests/core/inherit/data/plans/main.fmf
  tests/core/inherit/invalid/.fmf/version
  tests/core/inherit/invalid/directive.fmf
  tests/core/inherit/main.fmf
  tests/core/inherit/test.sh
Labels: base

#172 Release fmf-1.1.0
  README.rst
  fmf.spec
Labels: packaging

#174 Add Github Action for PyPI releases
  .github/workflows/release.yml
Labels: packaging
