Repository teemtee/fmf, pull requests merged in 2024-06, with the labels that each got.

#219 Allow filtering based on the node name
  fmf/base.py
  fmf/utils.py
  tests/unit/test_utils.py
Labels: utils, filter

#223 Add directive `select` to force selecting node
  docs/features.rst
  fmf/base.py
  tests/core/select/data/.fmf/version
  tests/core/select/data/foo/child.fmf
  tests/core/select/data/foo/hidden.fmf
  tests/core/select/data/foo/main.fmf
  tests/core/select/main.fmf
  tests/core/select/test.sh
Labels: tree, base

#229 Avoid `copy()` calls in `adjust()`
  fmf/base.py
  tests/unit/test_base.py
Labels: context

#220 Support escaping `|` and `&` in `utils.filter()`
  fmf/utils.py
  tests/unit/test_utils.py
Labels: utils

#234 Implement the `~` merge operation
  docs/features.rst
  examples/merge/parent.fmf
  fmf/base.py
  fmf/utils.py
  tests/unit/test_base.py
  tests/unit/test_utils.py
Labels: enhancement, tree

#235 Extend the `filter()` documentation slightly
  fmf/utils.py
Labels: docs, filter

#242 Introduce a new page for release notes
  docs/features.rst
  docs/index.rst
  docs/releases.rst
Labels: docs

#243 Release fmf-1.4.0
  README.rst
  fmf.spec
Labels: packaging

#245 Forgotten feature, contributor and python metadata
  README.rst
  docs/features.rst
  docs/releases.rst
  setup.py
Labels: docs

#249 Release fmf-1.4.1
  fmf.spec
Labels: packaging
