Repository teemtee/fmf, pull requests merged in 2025-01, with the labels that each got.

#272 Implement regular expression search for context
  docs/context.rst
  docs/releases.rst
  fmf/context.py
  tests/unit/test_context.py
Labels: context

#271 Make sorting in `climb()` and `prune()` configurable
  docs/modules.rst
  docs/releases.rst
  fmf/base.py
  tests/unit/test_base.py
Labels: base

#279 Keep merge suffix for nested dictionaries
  docs/features.rst
  docs/releases.rst
  examples/deep/main.fmf
  fmf/base.py
  tests/unit/test_base.py
Labels: must

#255 Allow dashes in context dimension names
  docs/context.rst
  fmf/context.py
  tests/unit/test_context.py
Labels: context
