Repository teemtee/fmf, pull requests merged in 2025-03, with the labels that each got.

#282 Add callback to limit which nodes are adjusted
  fmf/base.py
  tests/unit/test_adjust.py
Labels: base

#283 Use the `AdjustCallback` protocol for `decision_callback`
  fmf/base.py
Labels: base, code | trivial

#284 Release fmf-1.7.0
  docs/releases.rst
Labels: packaging

#285 Adjust docstrings to match the agreed format
  fmf/__init__.py
  fmf/base.py
  fmf/cli.py
  fmf/context.py
  fmf/utils.py
  tests/unit/test_adjust.py
  tests/unit/test_base.py
  tests/unit/test_cli.py
  tests/unit/test_context.py
  tests/unit/test_items.py
  tests/unit/test_modify.py
  tests/unit/test_smoke.py
  tests/unit/test_utils.py
Labels: style
